@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
li{ list-style:none;}
img{ border:none;}
a{ text-decoration:none; color:#191919}
.ul:after{ content:""; clear:both; height:0; display:block; visibility:hidden;}
body, a {font-family: 'Pretendard';font-weight:400; color: #191919;}
input, button, select, textarea, label {font-family: 'Pretendard';font-weight:400; outline: none;-webkit-tap-highlight-color : transparent;}
button { cursor:pointer; outline:none; font-weight: 400; background: none; border: none;}

select {
    -webkit-appearance: none;  /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none;  /* 화살표 없애기 */
    background-image: url(../images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: center right 14px;
    background-size: 12px 6px;
    cursor: pointer;
}

.yes_color {
    color: #29F5AB;
}
.no_color {
    color: #F55 
}


  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #4D4D4D;
    border-radius: 5px;
    background-clip: padding-box;
  }
  *::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 5px;
  }

  input[type=text]:focus {
    box-shadow: 0 0 0 1px #7638FA inset;
    background: linear-gradient(0deg, rgba(101, 114, 230, 0.25) 0%, rgba(101, 114, 230, 0.25) 100%)
}
input[type=password]:focus {
    box-shadow: 0 0 0 1px #7638FA inset;
    background: linear-gradient(0deg, rgba(101, 114, 230, 0.25) 0%, rgba(101, 114, 230, 0.25) 100%)
}