<header>
    <div class="wrap">
        <h1 class="logo" (click)="refreshPage()"><img src="../../assets/common/images/logo.png" width="24px">knitbot.ai</h1>

        <div class="user_div" [ngStyle]="{'display': loginYn ? '' : 'none'}">
            <button class="user" (click)="toggleDropdown($event)" [disabled]="showMypage || showTelegramSet || displayMode"><span><img src="../../assets/common/images/user{{selectedProfileIndex}}.png" width="40px"></span></button>

            <ul #dropMenu class="drop_menu">
                <li>
                    <button (click)="openMypage()">{{ loginEmail }}</button>
                </li>
                <li>
                    <!-- <button (click)="openApiSet()">API 설정</button> -->
                    <button (click)="openTelegramSet()">{{ 'COM.SET_TELE' | translate }}</button>
                </li>
                <li>
                    <button (click)="changeLng()">{{ 'COM.CHG_LAN' | translate }}</button>
                    <div class="lang_popup" *ngIf="showLangSet">
                        <ul>
                            <li *ngFor="let lang of supportedLanguages" 
                                [ngClass]="{'cho': currentLang === lang.code}"
                                (click)="setLanguage(lang.code)">
                                {{lang.name}}
                            </li>
                        </ul>
                    </div>
                    <!-- <button (click)="toggleTheme()">{{ currentTheme === 'light' ? '라이트' : '다크' }}모드 전환</button> -->
                </li>
                <li>
                    <button (click)="logout()">{{ 'COM.LOGOUT' | translate }}</button>
                </li>
            </ul>
        </div>

        <div *ngIf="!loginYn" class="user_div">
            <button class="login" (click)="openLogin()">LOG IN</button>
            <button class="signup" (click)="openSignUp()">SIGN UP</button>
        </div>
    </div>
</header>

<!-- popup -->

<!-- 텔레그램 설정 팝업 -->
<div *ngIf="showTelegramSet" class="popup_box" id="telegram_setting_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'TELEGRAM.TELEGRAM_SETTING' | translate }}</h2>
        <button class="right " (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <ul class="popup_setting_ul">
            <li>
                <h3>{{ 'TELEGRAM.TELEGRAM_KEY' | translate }}</h3>
                <input type="text" [(ngModel)]="teleId" #inputTeleId="ngModel" [value]="teleId"
                placeholder="{{ 'TELEGRAM.TELEGRAM_KEY_TXT' | translate }}">
            </li>
            <li>
                <h3>{{ 'TELEGRAM.CHAT_ID' | translate }}</h3>
                <input type="text" [(ngModel)]="chatId" [value]="chatId"
                placeholder="{{ 'TELEGRAM.CHAT_ID_TXT' | translate }}">
            </li>
            <!-- <li>
                <h3>텔레그램 알림 설정</h3>
                <div>
                    <label for="type1" class="chk_box">
                        <input type="checkbox" id="type1" [(ngModel)]="alarmJoinYn">
                        <span></span>
                        <p>진입</p>
                    </label>
                    <label for="type2" class="chk_box">
                        <input type="checkbox" id="type2" [(ngModel)]="alarmExitYn">
                        <span></span>
                        <p>종료</p>
                    </label>
                </div>
            </li> -->
            <li>
                <h3>{{ 'TELEGRAM.OTHER_SETTING' | translate }}</h3>
                <div>
                    <label for="type3" class="chk_box">
                        <input type="checkbox" id="type3" [(ngModel)]="teleBotYn" [value]="teleBotYn">
                        <span></span>
                        <p>{{ 'TELEGRAM.BOT_CONTROL_YN' | translate }}</p>
                    </label>
                </div>
            </li>
            <li>
                <div>
                    <p class="no_login_t" *ngIf="errSaveTele">{{ 'TELEGRAM.FAIL_SAVE' | translate }}</p>
                </div>
            </li>
        </ul>
        <button class="save_setting" [class.disabled]="inputTeleId.invalid" [disabled]="inputTeleId.invalid" (click)="saveTelegram()">{{ 'TELEGRAM.TELEGRAM_SAVE' | translate }}</button>
    </div>
</div>

<!-- 마이페이지 팝업 -->
<div *ngIf="showMypage" class="popup_box login_popup" id="mypage_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'MEMBER.MEMBER_INFO' | translate }}</h2>
        <button class="right " (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <div class="popup_setting_box">
            <div class="user"><span><img src="../../assets/common/images/user{{selectedProfileIndex}}.png" width="40px"></span></div>
            <dl>
                <dt>{{ loginEmail }}</dt>
                <button (click)="changeProfile=true"><dd>{{ 'MEMBER.PROFILE_IMAGE_CHANGE' | translate }}</dd></button>
            </dl>
        </div>
        <button class="login_btn" (click)="openPassword(); showMypage = false;">{{ 'MEMBER.PW_CHANGE' | translate }}</button>
        <button class="join_btn" (click)="unregistUser=true">{{ 'MEMBER.MEMBER_WITHDRAWAL' | translate }}</button>
    </div>
</div>

<!-- 프로필 사진 변경 -->
<div *ngIf="changeProfile" class="popup_box img_popup" id="mypage_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'MEMBER.IMAGE_CHANGE' | translate }}</h2>
        <button class="right " (click)="changeProfile=false"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <ul class="img_list_ul">
            <li *ngFor="let img of profileImages; let i = index" 
            [ngClass]="{'cho': selectedProfileIndex === i}" (click)="selectImage(i)">
            <img src="../../assets/common/images/user{{i}}.png"></li>
            <!-- <li [ngClass]="{'cho': true}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li>
            <li [ngClass]="{'cho': false}"><img src="../../assets/common/images/user.png"></li> -->
        </ul>
    </div>
    <button class="login_btn" (click)="saveProfile()">{{ 'MEMBER.CHANGE' | translate }}</button>
</div>

<!-- 회원 탈퇴 확인 -->
<div *ngIf="unregistUser" class="popup_box login_popup" id="mypage_popup">
    <div class="popup_content">
        <div class="delete_box">
            <img src="../../assets/common/images/StopDelete.png" width="60px">
            <dl class="delete_dl">
                <dt>Delete account?</dt>
                <dd>
                    Once you delete your account, your profile is permanently removed from KnitBot. <span>Learn More</span>
                </dd>
            </dl>
            <button class="yes_btn" (click)="unRegister(); showMypage = false;">Yes, Delete</button>
            <button class="no_btn" (click)="unregistUser=false;">No, Just Kidding</button>
        </div>
    </div>
</div>

<!-- 회원 정보 관련 팝업 모음-->

<!-- 로그인 팝업 -->
<div *ngIf="showLogin" class="popup_box login_popup" id="login_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'MEMBER.LOGIN' | translate }}</h2>
        <button class="right " (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <ul class="popup_setting_ul">
            <li>
                <h3>{{ 'MEMBER.EMAIL' | translate }}</h3>
                <input type="text" placeholder="{{ 'MEMBER.INPUT_EMAIL' | translate }}" [(ngModel)]="loginEmail">
            </li>
            <li>
                <h3>{{ 'MEMBER.PASSWORD' | translate }}</h3>
                <input type="password" placeholder="{{ 'MEMBER.INPUT_PASSWORD' | translate }}" [(ngModel)]="loginPassword">
            </li>
            <li class="save_login">
                <label for="save_id" class="chk_box">
                    <input type="checkbox" id="save_id" [(ngModel)]="saveIdCheck">
                    <span></span>
                    <p>{{ 'MEMBER.SAVE_EMAIL' | translate }}</p>
                </label>

                <button (click)="openPassword()">{{ 'MEMBER.FIND_PW' | translate }}</button>
                <p class="no_login_t" *ngIf="loginFailed">{{ 'MEMBER.LOGIN_ERROR' | translate }}</p>
            </li>
        </ul>
        <button class="login_btn" (click)="authLogin()">{{ 'MEMBER.LOGIN' | translate }}</button>
        <button class="join_btn" (click)="openSignUp(); showLogin = false;">{{ 'MEMBER.SIGNIN' | translate }}</button>
    </div>
</div>

<!-- 회원가입 팝업 -->
<div *ngIf="showSignUp" #join_popup class="popup_box login_popup" id="join_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'MEMBER.SIGNIN' | translate }}</h2>
        <button class="right " (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <ul class="popup_setting_ul">
            <li>
                <h3>
                    {{ 'MEMBER.SIGNIN_TXT_1' | translate }}
                    <button (click)="openTerms()"><span class="policy">{{ 'MEMBER.TERMS' | translate }}</span></button>{{ 'MEMBER.SIGNIN_TXT_2' | translate }}
                    <button (click)="openTerms()"><span class="policy">{{ 'MEMBER.PERSONAL_INFO' | translate }}</span></button>
                    {{ 'MEMBER.SIGNIN_TXT_3' | translate }}<br><br>
                </h3>
            </li>
            <li>
                <h3>{{ 'MEMBER.EMAIL' | translate }}</h3>
                <input type="text" [(ngModel)]="signEmail" #inputEmail="ngModel" required placeholder="{{ 'MEMBER.INPUT_EMAIL' | translate }}">
            </li>
            <li>
                <h3>{{ 'MEMBER.PASSWORD' | translate }}</h3>
                <input type="password" [(ngModel)]="signPassword" #inputPassword="ngModel" required placeholder="{{ 'MEMBER.PASSWORD_TXT' | translate }}">
            </li>
            <li>
                <h3>{{ 'MEMBER.PASSWORD_CHECK' | translate }}</h3>
                <input type="password" [(ngModel)]="signPasswordCheck" #inputPasswordCheck="ngModel" required placeholder="{{ 'MEMBER.PASSWORD_TXT' | translate }}">
            </li>
            <li>
                <p class="no_login_t" *ngIf="!signEmail">{{ 'MEMBER.REQUIRE_EMAIL' | translate }}</p>
                <p class="no_login_t" *ngIf="signEmail && !emailValid">{{ 'MEMBER.INVALID_EMAIL_RULE' | translate }}</p>
                <p class="no_login_t" *ngIf="signEmail && emailValid && !signPassword">{{ 'MEMBER.REQUIRE_PASSWORD' | translate }}</p>
                <p class="no_login_t" *ngIf="signEmail && emailValid && signPassword && !passwordValid">{{ 'MEMBER.INVALID_PASSWORD' | translate }}</p>
                <p class="no_login_t" *ngIf="signEmail && emailValid && signPassword && passwordValid && !signPasswordCheck">{{ 'MEMBER.REQUIRE_PASSWORD_CHECK' | translate }}</p>
                <p class="no_login_t" *ngIf="signEmail && emailValid && signPassword && passwordValid && signPasswordCheck && !passwordCheckValid">{{ 'MEMBER.ERROR_PASSWORD' | translate }}</p>
            </li>
        </ul>
        <button class="login_btn" (click)="authSign()" 
        [class.disabled]="inputEmail.invalid || inputPassword.invalid || inputPasswordCheck.invalid || !emailValid || !passwordValid || !passwordCheckValid" 
        [disabled]="inputEmail.invalid || inputPassword.invalid || inputPasswordCheck.invalid || !emailValid || !passwordValid || !passwordCheckValid">
            {{ 'MEMBER.CONFIRM_SIGNIN' | translate }}
        </button>
        <button class="join_btn" (click)="openLogin(); showSignUp = false;">{{ 'MEMBER.LOGIN' | translate }}</button>
    </div>            
</div>


<!-- 이용약관 안내 팝업 -->
<div *ngIf="showTerms" #agree_popup class="popup_box login_popup" id="agree_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'MEMBER.TERMS' | translate }}</h2>
        <button class="right " (click)="showTerms = false;"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <div class="agree_text" [innerHTML]="'PP.CONTEXT_0' | translate">
        </div>
    </div>
</div>

<!-- 비밀번호 재설정 팝업 -->
<div *ngIf="showPassword" #changePw_popup class="popup_box login_popup" id="join_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'MEMBER.PW_RESETTING' | translate }}</h2>
        <button class="right " (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <ul class="popup_setting_ul">
            <li>
                <h3>{{ 'MEMBER.EMAIL' | translate }}</h3>
                <input type="text" [(ngModel)]="changePwEmail" placeholder="{{ 'MEMBER.INPUT_EMAIL' | translate }}" [disabled]="certifyYn">
                <button class="text_email" (click)="certifyEmail()">{{ 'MEMBER.CERTIFY' | translate }}</button>
            </li>
            <li>
                <h3>{{ 'MEMBER.PASSWORD' | translate }}</h3>
                <input type="password" [(ngModel)]="changePw" #inputChangePw="ngModel" [disabled]="!certifyYn"
                placeholder="{{ 'MEMBER.PASSWORD_TXT' | translate }}">
            </li>
            <li>
                <h3>{{ 'MEMBER.PASSWORD_CHECK' | translate }}</h3>
                <input type="password" [(ngModel)]="changePwCheck" #inputChangePwCheck="ngModel" [disabled]="!certifyYn"
                placeholder="{{ 'MEMBER.PASSWORD_TXT' | translate }}">
            </li>
            <li>
                <h3>CAPTCHA</h3>
                <input type="text" [(ngModel)]="captcha" #inputCaptchaCheck="ngModel" [disabled]="!certifyYn"
                placeholder="인증 메일을 확인하고 captcha를 입력해주세요.">
            </li>
            <!-- <li>
                <label for="agree" class="chk_box">
                    <input type="checkbox" id="agree" [(ngModel)]="agreeTerms">
                    <span></span>
                    <p>이용약관에 동의합니다</p>
                </label>
            </li> -->
            <li>
                <p class="no_login_t" *ngIf="!certifyYn && !sendAfterEmail">이메일을 인증해주세요.</p>
                <p class="no_login_t" *ngIf="certifyYn && !changePw">비밀번호를 입력해주세요.(8~32자, 영숫자 특수문자 포함)</p>
                <p class="no_login_t" *ngIf="certifyYn && changePw && !passwordValidChange">유효한 비밀번호 형식을 입력해주세요.(8~32자, 영숫자 특수문자 포함)</p>
                <p class="no_login_t" *ngIf="certifyYn && changePw && passwordValidChange && !changePwCheck">비밀번호 확인을 입력해주세요.(8~32자, 영숫자 특수문자 포함)</p>
                <p class="no_login_t" *ngIf="certifyYn && changePw && passwordValidChange && changePwCheck && !passwordCheckValidChange">비밀번호가 일치하지 않습니다.</p>
                <p class="no_login_t" *ngIf="certifyYn && changePw && passwordValidChange && changePwCheck && passwordCheckValidChange && !captcha">captcha를 입력해주세요.</p>
                <p class="no_login_t" *ngIf="!certifyYn && sendAfterEmail">이메일 인증은 3분 후에 가능합니다.</p>
            </li> 
        </ul>
        <button class="login_btn1" (click)="changePassword()" [class.disabled]="!isChangePassword()" [disabled]="!isChangePassword()">{{ 'MEMBER.PW_CHANGE' | translate }}</button>
    </div>
</div>