<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta property="og:url" content="공유시 이동 url">
<meta property="og:title" content="knitbot.ai">
<meta property="og:type" content="website">
<meta property="og:image" content="images/logo.png">
<meta property="og:description" content="니트봇은 무료로 제공되며, 레퍼럴 가입이 필요하지 않습니다.
현재 서버비는 광고와 후원으로 유지되고 있습니다. 따뜻한 후원으로 제작자의 허기진 배를 채워주세요.
애드블록을 꺼주신다면 제작자에게 큰 힘이 됩니다.">
<title>knitbot.ai</title>

</head>

<body> 
    <app-profile></app-profile>

    <section>
        
        <div class="wrap">
            <app-layouts></app-layouts>

            <div class="section_header">
                <div class="left" [ngStyle]="checkTabStyle()">
                    <div class="bot_state_box" [ngClass]="{'stop':!botPlay, 'play':botPlay}">
                        <p>현재 봇 상태 : 
                            <span *ngIf="!botPlay" class="stop">정지</span>
                            <span *ngIf="botPlay" class="play">작동중</span>
                        </p>
                        <button class="bot_state_btn" (click)="operateBot()">
                            <img *ngIf="!botPlay" src="../../assets/common/images/start.png">
                            <img *ngIf="botPlay" src="../../assets/common/images/stop.png">
                        </button>
                    </div>
                    <!-- <button *ngIf="!botPlay" class="esc_btn"><img src="../../assets/common/images/save_off.png" width="20">SAVE</button>
                    <button *ngIf="botPlay" class="esc_btn" style="background-color: #6572E6; color: #2B2B2B;"><img src="../../assets/common/images/save_on.png" width="20">SAVE</button> -->
                    <button class="esc_btn" (click)="saveInstance()" [ngClass]="{'hovered' : isHovered}" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
                        <img [src]="'../../assets/common/images/save.png'" width="20">SAVE
                    </button>
                </div>

                <div class="right">
                    <p>
                        니트봇은 <span>무료로 제공</span>되며, 레퍼럴 가입이 <span>필요하지 않습니다.</span> <br>
                        현재 서버비는 광고와 후원으로 유지되고 있습니다. 따뜻한 후원으로 제작자의 허기진 배를 채워주세요.<br>
                        애드블록을 꺼주신다면 제작자에게 큰 힘이 됩니다.
                    </p>
                </div>
            </div>

            <div class="main_content" *ngIf="!isMobileView">
                <div class="part_box auto_play_box">
                    <div class="" [ngClass]="!autoHoverd ? 'auto_play_setting' : 'default_play_setting'" (mouseenter)="autoHoverd = true" (mouseleave)="autoHoverd = false">
                        <h2>자동매매 설정</h2>
                        <ul class="setting_ul">
                            <li>
                                <h3 class="tab_slide_btn" (click)="toggleSlide(0)">지표 설정<i class="far " [ngClass]="{'fa-chevron-up': open[0].isOpen, 'fa-chevron-down': !open[0].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box" style="display: block;">
                                    <div class="setting_box">
                                        <p class="name">지표1 선택</p>
                                        <select (change)="onIndicatorChange(1, $event)">
                                            <option *ngFor="let option of indicatorOptions" [value]="option.value">{{option.label}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box" *ngFor="let input of selectedIndicator1?.inputs; let i = index">
                                        <p class="name">{{ input.name }}</p>
                                        <input type="text" [value]="input.defaultValue" (input)="onInput($event, 1, i)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">지표2 선택</p>
                                        <select (change)="onIndicatorChange(2, $event)">
                                            <option *ngFor="let option of indicatorOptions" [value]="option.value">{{option.label}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box" *ngFor="let input of selectedIndicator2?.inputs; let i = index">
                                        <p class="name">{{ input.name }}</p>
                                        <input type="text" [value]="input.defaultValue" (input)="onInput($event, 2, i)">
                                    </div>
                                </div>
                               
                            </li>

                            <li *ngFor="let setting of longSettings; let i = index">
                                <h3 class="tab_slide_btn" (click)="toggleSlide(i + 1)">롱 설정 (Long) # {{ i + 1 }}<i class="far " [ngClass]="{'fa-chevron-up': open[i + 1].isOpen, 'fa-chevron-down': !open[i + 1].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box">
                                    <div class="setting_box">
                                        <p class="name">캔들</p>
                                        <select>
                                            <option>종가</option>
                                            <option>시가</option>
                                            <option>고가</option>
                                            <option>저가</option>
                                        </select>
                                    </div>
                
                                    <div class="setting_box">
                                        <p class="name">지표 1 에 대하여 (than indicator 1)</p>
                                        <select>
                                            <option *ngFor="let option of selectedIndicator1?.comparisonOptions">{{option}}</option>
                                            <!-- <option>캔들값이 작을 때 (under)</option> -->
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator1?.showConstant">
                                        <p class="name">상수</p>
                                        <input type="text" value="20" (input)="onConstantInput($event, 1)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">지표 2 에 대하여 (than indicator 2)</p>
                                        <select>
                                            <option *ngFor="let option of selectedIndicator2?.comparisonOptions">{{option}}</option>
                                            <!-- <option>상수보다 작을 때 (under)</option> -->
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator2?.showConstant">
                                        <p class="name">상수</p>
                                        <input type="text" value="20" (input)="onConstantInput($event, 2)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">봇의 행동</p>
                                        <select>
                                            <option>진입</option>
                                            <option>종료</option>
                                        </select>
                                    </div>
                
                                    <button (click)="addLongSetting()"><i class="far fa-plus"></i> 롱 설정 추가</button>
                                </div>
                            </li>
                
                            <li *ngFor="let setting of shortSettings; let i = index">
                                <h3 class="tab_slide_btn" (click)="toggleSlide(longSettings.length + i + 1)">숏 설정 (Short) # {{ i + 1 }}<i class="far " [ngClass]="{'fa-chevron-up': open[longSettings.length + i + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + i + 1].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box">
                                    <div class="setting_box">
                                        <p class="name">캔들</p>
                                        <select>
                                            <option>종가</option>
                                            <option>시가</option>
                                            <option>고가</option>
                                            <option>저가</option>
                                        </select>
                                    </div>
                
                                    <div class="setting_box">
                                        <p class="name">지표 1 에 대하여 (than indicator 1)</p>
                                        <select>
                                            <option *ngFor="let option of selectedIndicator1?.comparisonOptions">{{option}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator1?.showConstant">
                                        <p class="name">상수</p>
                                        <input type="text" value="20" (input)="onConstantInput($event, 1)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">지표 2 에 대하여 (than indicator 2)</p>
                                        <select>
                                            <option *ngFor="let option of selectedIndicator2?.comparisonOptions">{{option}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator2?.showConstant">
                                        <p class="name">상수</p>
                                        <input type="text" value="20" (input)="onConstantInput($event, 2)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">봇의 행동</p>
                                        <select>
                                            <option>진입</option>
                                            <option>종료</option>
                                        </select>
                                    </div>
                
                                    <button (click)="addShortSetting()"><i class="far fa-plus"></i> 숏 설정 추가</button>
                                </div>
                            </li>

                            <li>
                                <label for="position_chk" class="chk_box">
                                    <input type="checkbox" id="position_chk">
                                    <span></span>
                                    <p>반대 포지션 진입시, 이전 포지션 종료</p>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="part_box default_play_box">
                    <div class="" [ngClass]="!defaultHoverd ? 'auto_play_setting' : 'default_play_setting'" (mouseenter)="defaultHoverd = true" (mouseleave)="defaultHoverd = false">
                        <h2>
                            기본 설정
                            <button style="position: absolute; left: 0;">초기화</button>
                        </h2>
                        <ul class="setting_ul">
                            <li>
                                <div class="setting_box">
                                    <p class="name">거래유형</p>
                                    <select>
                                        <option>선물 (Futures)</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">거래 심볼 선택</p>
                                    <select>
                                        <option>BTC / USDT</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">캔들 설정</p>
                                    <select>
                                        <option>1분 봉</option>
                                        <option>3분 봉</option>
                                        <option>5분 봉</option>
                                        <option>15분 봉</option>
                                        <option>30분 봉</option>
                                        <option>1시간 봉</option>
                                        <option>4시간 봉</option>
                                        <option>일봉</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">수량 입력</p>
                                    <input type="text" value="0.1" (input)="onInput($event)">
                                </div>
                            </li>
                
                            <li>
                                <button class="default_setting_info_btn tab_slide_btn" (click)="toggleSlide(longSettings.length + shortSettings.length + 1)">텔레그램 정보<i class="far" [ngClass]="{'fa-chevron-up': open[longSettings.length + shortSettings.length + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + shortSettings.length + 1].isOpen}"></i></button>
                                <div #slideBox class="default_setting_info tab_slide_box">
                                    <p>텔레그램 Key : {{ teleId }}</p>
                                    <p>연동 상태 : 
                                        <span class="no_color">연동 안 됨</span>
                                        <span class="yes_color">연동됨</span>
                                    </p>
                                    <p>봇 제어 여부 : 
                                        <span class="no_color" *ngIf="!teleBotYn">꺼짐</span>
                                        <span class="yes_color" *ngIf="teleBotYn">켜짐</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="part_box spon_part_box">
                    <div>
                        <div class="guide_btn_box">
                            <button class="default_btn" >사용 방법</button>
                            <button class="default_btn" (click)="linkToTelegram()"><img src="../../assets/common/images/telegram.png" width="14px">니트봇 공식 텔레그램</button>
                            <button class="default_btn" (click)="openNotice()">공지사항 바로가기</button>
                        </div>
                     
                        <div class="banner_box mobile_show">
                            <p>거래소 회원가입으로 응원하기</p>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                        </div>
                        <div class="spon_box">
                            <p>제작자에게 후원하기</p>
                            <div class="qr_box">
                                <img src="../../assets/common/images/qr.png">
                                <p><img src="../../assets/common/images/xrp.png" width="14">리플(XRP) 주소</p>
                            </div>
                            <div class="copy_box">
                                <input #textInput1 type="text" value="knITBoT2SYbUiLDyOurowNauTotRade90d" id="copyTxt" disabled>
                                <button (click)="copyText(textInput1)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                            <div class="copy_box">
                                <input #textInput2 type="text" value="301555555" id="copyTxt" disabled>
                                <button (click)="copyText(textInput2)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                        </div>
                
                        <div class="spon_box">
                            <p>제작자에게 후원하기</p>
                            <div class="qr_box">
                                <img src="../../assets/common/images/qr.png">
                                <p><img src="../../assets/common/images/TRX.png" width="14">트론 (TRX) 주소</p>
                            </div>
                            <div class="copy_box">
                                <input #textInput3 type="text" value="knITBoT2SYbUiLDyOurowNauTotRade90d" id="copyTxt" disabled>
                                <button (click)="copyText(textInput3)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="part_box ad_part_box">
                    <div>
                        <!-- <div>광고</div> -->
            
                        <div class="banner_box">
                            <p>거래소 회원가입으로 응원하기</p>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>

            <!-- 모바일 뷰 -->
            <div class="main_content" *ngIf="isMobileView">
                <div class="part_box auto_play_box" *ngIf="selectedTab === 'auto'">
                    <div class="default_play_setting">
                        <h2>자동매매 설정</h2>
                        <ul class="setting_ul">
                            <li>
                                <h3 class="tab_slide_btn" (click)="toggleSlide(0)">지표 설정<i class="far " [ngClass]="{'fa-chevron-up': open[0].isOpen, 'fa-chevron-down': !open[0].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box" style="display: block;">
                                    <div class="setting_box">
                                        <p class="name">지표1 선택</p>
                                        <select>
                                            <option>Bolliger Bands</option>
                                            <option>EMA</option>
                                            <option>Fibonacci Retracement</option>
                                            <option>Keltner Channels</option>
                                            <option>MA</option>
                                            <option>MACD</option>
                                            <option>MFI</option>
                                            <option>Parabolic SAR</option>
                                            <option>RSI</option>
                                            <option>SMA</option>
                                            <option>SMMA</option>
                                            <option>Stochastic</option>
                                            <option>Stochastic RSI</option>
                                            <option>Supertrend</option>
                                        </select>
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">기간</p>
                                        <input type="text" value="20" (input)="onInput($event)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">지표2 선택</p>
                                        <select>
                                            <option>None</option>
                                            <option>Bolliger Bands</option>
                                            <option>EMA</option>
                                            <option>Fibonacci Retracement</option>
                                            <option>Keltner Channels</option>
                                            <option>MA</option>
                                            <option>MACD</option>
                                            <option>MFI</option>
                                            <option>Parabolic SAR</option>
                                            <option>RSI</option>
                                            <option>SMA</option>
                                            <option>SMMA</option>
                                            <option>Stochastic</option>
                                            <option>Stochastic RSI</option>
                                            <option>Supertrend</option>
                                        </select>
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">기간</p>
                                        <input type="text" value="20" (input)="onInput($event)">
                                    </div>
                                </div>
                               
                            </li>

                            <li *ngFor="let setting of longSettings; let i = index">
                                <h3 class="tab_slide_btn" (click)="toggleSlide(i + 1)">롱 설정 (Long) # {{ i + 1 }}<i class="far " [ngClass]="{'fa-chevron-up': open[i + 1].isOpen, 'fa-chevron-down': !open[i + 1].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box">
                                    <div class="setting_box">
                                        <p class="name">캔들</p>
                                        <select>
                                            <option>종가</option>
                                            <option>시가</option>
                                            <option>고가</option>
                                            <option>저가</option>
                                        </select>
                                    </div>
                
                                    <div class="setting_box">
                                        <p class="name">지표 1 에 대하여 (than indicator 1)</p>
                                        <select>
                                            <option>캔들값이 작을 때 (under)</option>
                                        </select>
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">지표 2 에 대하여 (than indicator 2)</p>
                                        <select>
                                            <option>상수보다 작을 때 (under)</option>
                                        </select>
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">상수</p>
                                        <input type="text" value="20" (input)="onInput($event)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">봇의 행동</p>
                                        <select>
                                            <option>진입</option>
                                            <option>종료</option>
                                        </select>
                                    </div>
                
                                    <button (click)="addLongSetting()"><i class="far fa-plus"></i> 롱 설정 추가</button>
                                </div>
                            </li>
                
                            <li *ngFor="let setting of shortSettings; let i = index">
                                <h3 class="tab_slide_btn" (click)="toggleSlide(longSettings.length + i + 1)">숏 설정 (Short) # {{ i + 1 }}<i class="far " [ngClass]="{'fa-chevron-up': open[longSettings.length + i + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + i + 1].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box">
                                    <div class="setting_box">
                                        <p class="name">캔들</p>
                                        <select>
                                            <option>종가</option>
                                            <option>시가</option>
                                            <option>고가</option>
                                            <option>저가</option>
                                        </select>
                                    </div>
                
                                    <div class="setting_box">
                                        <p class="name">지표 1 에 대하여 (than indicator 1)</p>
                                        <select>
                                            <option>캔들값이 클 때 (over)</option>
                                        </select>
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">지표 2 에 대하여 (than indicator 2)</p>
                                        <select>
                                            <option>상수보다 클 때 (over)</option>
                                        </select>
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">상수</p>
                                        <input type="text" value="20" (input)="onInput($event)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">봇의 행동</p>
                                        <select>
                                            <option>진입</option>
                                            <option>종료</option>
                                        </select>
                                    </div>
                
                                    <button (click)="addShortSetting()"><i class="far fa-plus"></i> 숏 설정 추가</button>
                                </div>
                            </li>

                            <li>
                                <label for="position_chk" class="chk_box">
                                    <input type="checkbox" id="position_chk">
                                    <span></span>
                                    <p>반대 포지션 진입시, 이전 포지션 종료</p>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="part_box default_play_box" *ngIf="selectedTab === 'default'" [ngStyle]="{'display': 'block'}">
                    <div class="default_play_setting">
                        <h2>기본 설정</h2>
                        <ul class="setting_ul">
                            <li>
                                <div class="setting_box">
                                    <p class="name">거래유형</p>
                                    <select>
                                        <option>선물 (Futures)</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">거래 심볼 선택</p>
                                    <select>
                                        <option>BTC / USDT</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">캔들 설정</p>
                                    <select>
                                        <option>1분 봉</option>
                                        <option>3분 봉</option>
                                        <option>5분 봉</option>
                                        <option>15분 봉</option>
                                        <option>30분 봉</option>
                                        <option>1시간 봉</option>
                                        <option>4시간 봉</option>
                                        <option>일봉</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">수량 입력</p>
                                    <input type="text" value="0.1" (input)="onInput($event)">
                                </div>
                            </li>
                            <!-- <li>
                                <button class="default_setting_info_btn tab_slide_btn" (click)="toggleSlide(longSettings.length + shortSettings.length + 1)">API 정보<i class="far" [ngClass]="{'fa-chevron-up': open[longSettings.length + shortSettings.length + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + shortSettings.length + 1].isOpen}"></i></button>
                                <div #slideBox class="default_setting_info tab_slide_box">
                                    <p>설정된 거래소 : Bitget</p>
                                    <p>API Key : bitget_hkj23h4l231LSDF14d</p>
                                    <p>API 패스워드 : kl234523klefglh2435ij</p>
                                    <p>API passphase : 12341234</p>
                                </div>
                            </li> -->
                
                            <li>
                                <button class="default_setting_info_btn tab_slide_btn" (click)="toggleSlide(longSettings.length + shortSettings.length + 1)">텔레그램 정보<i class="far" [ngClass]="{'fa-chevron-up': open[longSettings.length + shortSettings.length + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + shortSettings.length + 1].isOpen}"></i></button>
                                <div #slideBox class="default_setting_info tab_slide_box">
                                    <p>텔레그램 Key : {{ teleId }}</p>
                                    <p>연동 상태 : 
                                        <span class="no_color">연동 안 됨</span>
                                        <span class="yes_color">연동됨</span>
                                    </p>
                                    <p>봇 제어 여부 : 
                                        <span class="no_color" *ngIf="!teleBotYn">꺼짐</span>
                                        <span class="yes_color" *ngIf="teleBotYn">켜짐</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="part_box spon_part_box">
                    <div>
                        <div class="guide_btn_box">
                            <button class="default_btn" >사용 방법</button>
                            <button class="default_btn" (click)="linkToTelegram()"><img src="../../assets/common/images/telegram.png" width="14px">니트봇 공식 텔레그램</button>
                            <button class="default_btn" (click)="openNotice()">공지사항 바로가기</button>
                        </div>
                     
                        <div class="banner_box mobile_show">
                            <p>거래소 회원가입으로 응원하기</p>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                        </div>
                        <div class="spon_box">
                            <p>제작자에게 후원하기</p>
                            <div class="qr_box">
                                <img src="../../assets/common/images/qr.png">
                                <p><img src="../../assets/common/images/xrp.png" width="14">리플(XRP) 주소</p>
                            </div>
                            <div class="copy_box">
                                <input #textInput1 type="text" value="knITBoT2SYbUiLDyOurowNauTotRade90d" id="copyTxt" disabled>
                                <button (click)="copyText(textInput1)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                            <div class="copy_box">
                                <input #textInput2 type="text" value="301555555" id="copyTxt" disabled>
                                <button (click)="copyText(textInput2)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                        </div>
                
                        <div class="spon_box">
                            <p>제작자에게 후원하기</p>
                            <div class="qr_box">
                                <img src="../../assets/common/images/qr.png">
                                <p><img src="../../assets/common/images/TRX.png" width="14">트론 (TRX) 주소</p>
                            </div>
                            <div class="copy_box">
                                <input #textInput3 type="text" value="knITBoT2SYbUiLDyOurowNauTotRade90d" id="copyTxt" disabled>
                                <button (click)="copyText(textInput3)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="part_box ad_part_box">
                    <div>
                        <!-- <div>광고</div> -->
            
                        <div class="banner_box">
                            <p>거래소 회원가입으로 응원하기</p>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                            <a href="#none" class="banner_a">배너</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>

</body>
</html>

<!-- 사용 방법 -->


<!-- 공지 팝업 -->
<div #notice_popup class="popup_box" id="notice_popup" *ngIf="noticeIn">
    <div class="popup_header">
        <a href="https://telegram.org/" target="_blank" class="telegram"><img src="../../assets/common/images/telegram.png" width="28" ></a>
        <button class="right bb" (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <table>
            <tbody>
                <tr *ngFor="let notification of notifications" (click)="showNotificationDetails(notification)">
                    <td><a href="#none">{{ notification.message }}</a></td>
                    <td class="day">{{ notification.date }}</td>
                </tr>
            </tbody>
        </table>

        <div class="page_nav">
            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"><i class="far fa-chevron-left"></i></button>
            <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="changePage(i + 1)" [class.now]="currentPage === i + 1">{{ i + 1 }}</button>
            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"><i class="far fa-chevron-right"></i></button>
        </div>
    </div>
</div>

<!-- 공지 상세 팝업 -->
<div *ngIf="showDetail" class="popup_box" id="notice_view_popup">
    <div class="popup_header">
        <button class="left" (click)="closeDetailPopup()"><i class="far fa-chevron-left back"></i></button>
        <a href="https://telegram.org/" target="_blank" class="telegram"><img src="../../assets/common/images/telegram.png" width="28" ></a>
        <button class="right" (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <div class="notice_view_header">
           <p>{{ selectedNotification?.message }}</p>
           <span>{{ selectedNotification?.date }}</span>
        </div>
        <p class="notice_view_text">
            {{ selectedNotification?.details }}
        </p>
        <div class="notice_view_footer">
            <button (click)="showPreviousNotification()">이전 글</button>
            <button (click)="showNextNotification()">다음 글</button>
        </div>
    </div>
</div>

<!-- API 설정 팝업 -->
<div *ngIf="showApiSet" class="popup_box" id="api_setting_popup">
    <div class="popup_header">
        <h2 class="left ">API 설정</h2>
        <button class="right " (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <ul class="popup_setting_ul">
            <li>
                <h3>거래소 선택</h3>
                <select [(ngModel)]="ApiProvider">
                    <option value="Bitget">Bitget</option>
                </select>
            </li>
            <li>
                <h3>API 키 (Key)</h3>
                <input type="text" required [(ngModel)]="ApiKey" #inputApiKey="ngModel" placeholder="API 키를 입력해주세요.">
            </li>
            <li>
                <h3>API 비밀번호 (Password)</h3>
                <input type="text" required [(ngModel)]="ApiPassword" #inputApiPassword="ngModel" placeholder="API 비밀번호를 입력해주세요.">
            </li>
            <li>
                <h3>API 패스페이즈 (Passphase)</h3>
                <input type="text" required [(ngModel)]="ApiPassphase" #inputApiPassphase="ngModel" placeholder="API 패스페이즈를 입력해주세요.">
            </li>
        </ul>
        <p>API 주소와 비밀번호를 잊어버리지 않도록 주의해주세요.</p>
        <button class="save_setting" (click)="saveAPI()" 
        [class.disabled]="inputApiKey.invalid || inputApiPassword.invalid || inputApiPassphase.invalid"
        [disabled]="inputApiKey.invalid || inputApiPassword.invalid || inputApiPassphase.invalid">저장</button>
    </div>
</div>