<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta property="og:url" content="공유시 이동 url">
<meta property="og:title" content="knitbot.ai">
<meta property="og:type" content="website">
<meta property="og:image" content="images/logo.png">
<meta property="og:description" content="니트봇은 무료로 제공되며, 레퍼럴 가입이 필요하지 않습니다.
현재 서버비는 광고와 후원으로 유지되고 있습니다. 따뜻한 후원으로 제작자의 허기진 배를 채워주세요.
애드블록을 꺼주신다면 제작자에게 큰 힘이 됩니다.">
<title>knitbot.ai</title>

</head>

<body> 
    <app-profile></app-profile>

    <section>
        
        <div class="wrap">
            <app-layouts></app-layouts>

            <div class="section_header">
                <div class="left" [ngStyle]="checkTabStyle()" (click)="checkLogin($event)">
                    <div class="bot_state_box" [ngClass]="{'stop':!botPlay, 'play':botPlay || operateHoverd}" [ngStyle]="checkLoginStyle()"
                    (mouseenter)="operateHoverd = true" (mouseleave)="operateHoverd = false">
                        <p>{{ 'COM.BOT_STATUS' | translate }} : 
                            <span *ngIf="!botPlay" class="stop">{{ 'COM.STOP' | translate }}</span>
                            <span *ngIf="botPlay" class="play">{{ 'COM.OPERATING' | translate }}</span>
                        </p>
                        <button class="bot_state_btn" (click)="operateBot()" [ngStyle]="checkLoginStyle()">
                            <img *ngIf="!botPlay" src="../../assets/common/images/start.png">
                            <img *ngIf="botPlay" src="../../assets/common/images/stop.png">
                        </button>
                    </div>
                    <!-- <button *ngIf="!botPlay" class="esc_btn"><img src="../../assets/common/images/save_off.png" width="20">SAVE</button>
                    <button *ngIf="botPlay" class="esc_btn" style="background-color: #6572E6; color: #2B2B2B;"><img src="../../assets/common/images/save_on.png" width="20">SAVE</button> -->
                    <button class="esc_btn" (click)="saveInstance()" [ngClass]="{'hovered' : isHovered}" [ngStyle]="checkLoginStyle()"
                    (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
                        <img [src]="'../../assets/common/images/save.png'" width="20">SAVE
                    </button>
                </div>

                <div class="right">
                    <p [innerHTML]="'COM.HOME_NOTICE' | translate">
                        <!-- 니트봇은 <span>무료로 제공</span>되며, 레퍼럴 가입이 <span>필요하지 않습니다.</span> <br>
                        현재 서버비는 광고와 후원으로 유지되고 있습니다. 따뜻한 후원으로 제작자의 허기진 배를 채워주세요.<br>
                        애드블록을 꺼주신다면 제작자에게 큰 힘이 됩니다. -->
                    </p>
                </div>
            </div>

            <div class="main_content" *ngIf="!isMobileView">
                <div class="part_box auto_play_box" (click)="onDisabledAreaClick($event)" [ngStyle]="{'pointer-events': !loginYn ? 'none' : ''}">
                    <div class="" [ngClass]="!autoHoverd ? 'auto_play_setting' : 'default_play_setting'" (mouseenter)="autoHoverd = true" (mouseleave)="autoHoverd = false">
                        <h2>{{ 'AUTO.SET_AUTO_SALE' | translate }}</h2>
                        <ul class="setting_ul">
                            <li>
                                <h3 class="tab_slide_btn" (click)="toggleSlide(0)">지표 설정<i class="far " [ngClass]="{'fa-chevron-up': open[0].isOpen, 'fa-chevron-down': !open[0].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box" style="display: block;">
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.SELECT_INDICATOR1' | translate }}</p>
                                        <select (change)="onIndicatorChange(1, $event)" [ngModel]="selectedIndicator1?.value">
                                            <option *ngFor="let option of indicatorOptions" [value]="option.value">{{option.label}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box" *ngFor="let input of selectedIndicator1?.inputs; let i = index">
                                        <p class="name">{{ input.name }}</p>
                                        <input type="text" [value]="input.defaultValue" (input)="onInput($event, 1, i)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.SELECT_INDICATOR2' | translate }}</p>
                                        <select (change)="onIndicatorChange(2, $event)" [ngModel]="selectedIndicator2?.value">
                                            <option *ngFor="let option of indicatorOptions" [value]="option.value">{{option.label}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box" *ngFor="let input of selectedIndicator2?.inputs; let i = index">
                                        <p class="name">{{ input.name }}</p>
                                        <input type="text" [value]="input.defaultValue" (input)="onInput($event, 2, i)">
                                    </div>
                                </div>
                            </li>

                            <li *ngFor="let setting of longSettings; let i = index">
                                <h3 class="tab_slide_btn" (click)="toggleSlide(i + 1)">{{ 'AUTO.LONG_SETTINGS' | translate }} (Long) #{{ i + 1 }}<i class="far " [ngClass]="{'fa-chevron-up': open[i + 1].isOpen, 'fa-chevron-down': !open[i + 1].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box">
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.CANDLE' | translate }}</p>
                                        <select [(ngModel)]="setting.candleType">
                                            <option *ngFor="let type of candleType" [value]="type">{{ type }}</option>
                                        </select>
                                    </div>
                
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.THAN_INDICATOR_1' | translate }}</p>
                                        <select [(ngModel)]="setting.selectedOption1">
                                            <option *ngFor="let option of selectedIndicator1?.comparisonOptions" [ngValue]="option">{{option}}</option>
                                            <!-- <option>캔들값이 작을 때 (under)</option> -->
                                        </select>
                                    </div>
                                    <div class="setting_box" *ngIf="selectedIndicator1?.showConstant">
                                        <p class="name">{{ 'AUTO.CONSTANT' | translate }}</p>
                                        <input type="text" [(ngModel)]="setting.constant1" (input)="onConstantInput($event, 1)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.THAN_INDICATOR_2' | translate }}</p>
                                        <select [(ngModel)]="setting.selectedOption2">
                                            <option *ngFor="let option of selectedIndicator2?.comparisonOptions" [ngValue]="option">{{option}}</option>
                                            <!-- <option>상수보다 작을 때 (under)</option> -->
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator2?.showConstant">
                                        <p class="name">{{ 'AUTO.CONSTANT' | translate }}</p>
                                        <input type="text" [(ngModel)]="setting.constant2" (input)="onConstantInput($event, 2)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.BOT_ACTION' | translate }}</p>
                                        <select [(ngModel)]="setting.botOperation">
                                            <option value="open">{{ 'AUTO.OPEN' | translate }}</option>
                                            <option value="close">{{ 'AUTO.CLOSE' | translate }}</option>
                                        </select>
                                    </div>
                
                                    <button (click)="addLongSetting()" [disabled]="longSettings.length >= 4"><i class="far fa-plus"></i> {{ 'AUTO.ADD_LONG_SETTING' | translate }}</button><br>
                                    <button (click)="removeLongSetting(i)" [disabled]="longSettings.length == 1"><i class="far fa-minus"></i> {{ 'AUTO.REMOVE_LONG_SETTING' | translate }}</button>
                                </div>
                            </li>
                
                            <li *ngFor="let setting of shortSettings; let i = index">
                                <h3 class="tab_slide_btn" (click)="toggleSlide(longSettings.length + i + 1)">{{ 'AUTO.SHORT_SETTINGS' | translate }} (Short) #{{ i + 1 }}<i class="far " [ngClass]="{'fa-chevron-up': open[longSettings.length + i + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + i + 1].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box">
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.CANDLE' | translate }}</p>
                                        <select [(ngModel)]="setting.candleType">
                                            <option *ngFor="let type of candleType" [value]="type">{{ type }}</option>
                                        </select>
                                    </div>
                
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.THAN_INDICATOR_1' | translate }}</p>
                                        <select [(ngModel)]="setting.selectedOption1">
                                            <option *ngFor="let option of selectedIndicator1?.comparisonOptions" [ngValue]="option">{{option}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator1?.showConstant">
                                        <p class="name">{{ 'AUTO.CONSTANT' | translate }}</p>
                                        <input type="text" [(ngModel)]="setting.constant1" (input)="onConstantInput($event, 1)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.THAN_INDICATOR_2' | translate }}</p>
                                        <select [(ngModel)]="setting.selectedOption2">
                                            <option *ngFor="let option of selectedIndicator2?.comparisonOptions" [ngValue]="option">{{option}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator2?.showConstant">
                                        <p class="name">{{ 'AUTO.CONSTANT' | translate }}</p>
                                        <input type="text" [(ngModel)]="setting.constant2" (input)="onConstantInput($event, 2)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.BOT_ACTION' | translate }}</p>
                                        <select [(ngModel)]="setting.botOperation">
                                            <option value="open">{{ 'AUTO.OPEN' | translate }}</option>
                                            <option value="close">{{ 'AUTO.CLOSE' | translate }}</option>
                                        </select>
                                    </div>
                
                                    <button (click)="addShortSetting()" [disabled]="shortSettings.length >= 4"><i class="far fa-plus"></i> {{ 'AUTO.ADD_SHORT_SETTING' | translate }}</button><br>
                                    <button (click)="removeShortSetting(i)" [disabled]="shortSettings.length == 1"><i class="far fa-minus"></i> {{ 'AUTO.REMOVE_SHORT_SETTING' | translate }}</button>
                                </div>
                            </li>

                            <li>
                                <label for="position_chk" class="chk_box">
                                    <input type="checkbox" id="position_chk" [(ngModel)]="isPosition">
                                    <span></span>
                                    <p>{{ 'AUTO.REVERSE_POSITION_EXIT' | translate }}</p>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="part_box default_play_box" (click)="onDisabledAreaClick($event)" [ngStyle]="{'pointer-events': !loginYn ? 'none' : ''}">
                    <div class="" [ngClass]="!defaultHoverd ? 'auto_play_setting' : 'default_play_setting'" (mouseenter)="defaultHoverd = true" (mouseleave)="defaultHoverd = false">
                        <h2>{{ 'DEFAULT.DEFAULT_SETTING' | translate }} <button (click)="defaultSettingClear()">{{ 'DEFAULT.RESET' | translate }}</button></h2>
                        <ul class="setting_ul">
                            <li>
                                <div class="setting_box">
                                    <p class="name">거래유형</p>
                                    <select>
                                        <option>{{ 'DEFAULT.FUTURES' | translate }}</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">{{ 'DEFAULT.SYMBOLS' | translate }}</p>
                                    <select [(ngModel)]="tradeSymbol">
                                        <option value="usdt">BTC / USDT</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">{{ 'DEFAULT.CANDLE_SETTING' | translate }}</p>
                                    <select [(ngModel)]="candleInterval">
                                        <option [value]="candleTimeType[0]">{{ 'DEFAULT.1M' | translate }}</option>
                                        <option [value]="candleTimeType[1]">{{ 'DEFAULT.3M' | translate }}</option>
                                        <option [value]="candleTimeType[2]">{{ 'DEFAULT.5M' | translate }}</option>
                                        <option [value]="candleTimeType[3]">{{ 'DEFAULT.15M' | translate }}</option>
                                        <option [value]="candleTimeType[4]">{{ 'DEFAULT.30M' | translate }}</option>
                                        <option [value]="candleTimeType[5]">{{ 'DEFAULT.1H' | translate }}</option>
                                        <option [value]="candleTimeType[6]">{{ 'DEFAULT.4H' | translate }}</option>
                                        <option [value]="candleTimeType[7]">{{ 'DEFAULT.1D' | translate }}</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">수량 입력</p>
                                    <input type="text" value="0.1" (input)="onInput($event)" [(ngModel)]="candleConst">
                                </div>
                            </li>
                
                            <li>
                                <button class="default_setting_info_btn tab_slide_btn" (click)="toggleSlide(longSettings.length + shortSettings.length + 1)">{{ 'DEFAULT.TELEGRAM_INFO' | translate }}<i class="far" [ngClass]="{'fa-chevron-up': open[longSettings.length + shortSettings.length + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + shortSettings.length + 1].isOpen}"></i></button>
                                <div #slideBox class="default_setting_info tab_slide_box">
                                    <p>{{ 'DEFAULT.TELEGRAM_KEY' | translate }} : {{ teleId }}</p>
                                    <p>{{ 'DEFAULT.CONNECT_STATUS' | translate }} : 
                                        <span class="no_color" *ngIf="controlYn">{{ 'DEFAULT.DISCONNECTED' | translate }}</span>
                                        <span class="yes_color" *ngIf="!controlYn">{{ 'DEFAULT.CONNECTED' | translate }}</span>
                                    </p>
                                    <p>{{ 'DEFAULT.BOT_CONTROL_STATUS' | translate }} : 
                                        <span class="no_color" *ngIf="!teleBotYn">{{ 'DEFAULT.OFF' | translate }}</span>
                                        <span class="yes_color" *ngIf="teleBotYn">{{ 'DEFAULT.ON' | translate }}</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="part_box spon_part_box">
                    <div>
                        <div class="guide_btn_box">
                            <button class="default_btn" (click)="toUsePopup=true">{{ 'COM.HOW_TO_USE' | translate }}</button>
                            <button class="default_btn" (click)="linkToTelegram()"><img src="../../assets/common/images/telegram.png" width="14px">{{ 'COM.OFFICIAL_TELEGRAM' | translate }}</button>
                            <button class="default_btn" (click)="noticeIn=true">{{ 'COM.NOTICE' | translate }}</button>
                        </div>
                     
                        <div class="banner_box mobile_show">
                            <p>{{ 'COM.CHEER_TO_OFFICIAL' | translate }}</p>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                        </div>
                        <div class="spon_box">
                            <p>{{ 'COM.DONATE_CREATOR' | translate }}</p>
                            <div class="qr_box">
                                <img src="../../assets/common/images/qr.png">
                                <p><img src="../../assets/common/images/xrp.png" width="14">Ripple (XRP) {{ 'COM.ADDRESS' | translate }}</p>
                            </div>
                            <div class="copy_box">
                                <span #textInput1 class="fake-input">knITBoT2SYbUiLDyOurowNauTotRade90d</span>
                                <!-- <input #textInput1 type="text" value="knITBoT2SYbUiLDyOurowNauTotRade90d" id="copyTxt1" disabled readonly draggable="false"> -->
                                <button (click)="copyText(textInput1)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                            <div class="copy_box">
                                <span #textInput2 class="fake-input">301555555</span>
                                <!-- <input #textInput2 type="text" value="301555555" id="copyTxt2" disabled readonly draggable="false"> -->
                                <button (click)="copyText(textInput2)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                        </div>
                
                        <div class="spon_box">
                            <p>{{ 'COM.DONATE_CREATOR' | translate }}</p>
                            <div class="qr_box">
                                <img src="../../assets/common/images/qr.png">
                                <p><img src="../../assets/common/images/TRX.png" width="14">Tron (TRX) {{ 'COM.ADDRESS' | translate }}</p>
                            </div>
                            <div class="copy_box">
                                <span #textInput3 class="fake-input">knITBoT2SYbUiLDyOurowNauTotRade90d</span>
                                <!-- <input #textInput3 type="text" value="knITBoT2SYbUiLDyOurowNauTotRade90d" id="copyTxt3" disabled readonly draggable="false"> -->
                                <button (click)="copyText(textInput3)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="part_box ad_part_box">
                    <div>
                        <!-- <div>광고</div> -->
            
                        <div class="banner_box">
                            <p>{{ 'COM.CHEER_TO_OFFICIAL' | translate }}</p>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>

            <!-- 모바일 뷰 -->
            <div class="main_content" *ngIf="isMobileView">
                <div class="part_box auto_play_box" *ngIf="selectedTab === 'auto'" (click)="onDisabledAreaClick($event)" [ngStyle]="{'pointer-events': !loginYn ? 'none' : ''}">
                    <div [ngClass]="loginYn ? 'default_play_setting' : 'auto_play_setting'">
                        <h2>{{ 'AUTO.SET_AUTO_SALE' | translate }}</h2>
                        <ul class="setting_ul">
                            <li>
                                <h3 class="tab_slide_btn" (click)="toggleSlide(0)">지표 설정<i class="far " [ngClass]="{'fa-chevron-up': open[0].isOpen, 'fa-chevron-down': !open[0].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box" style="display: block;">
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.SELECT_INDICATOR1' | translate }}</p>
                                        <select (change)="onIndicatorChange(1, $event)" [ngModel]="selectedIndicator1?.value">
                                            <option *ngFor="let option of indicatorOptions" [value]="option.value">{{option.label}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box" *ngFor="let input of selectedIndicator1?.inputs; let i = index">
                                        <p class="name">{{ input.name }}</p>
                                        <input type="text" [value]="input.defaultValue" (input)="onInput($event, 1, i)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.SELECT_INDICATOR2' | translate }}</p>
                                        <select (change)="onIndicatorChange(2, $event)" [ngModel]="selectedIndicator2?.value">
                                            <option *ngFor="let option of indicatorOptions" [value]="option.value">{{option.label}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box" *ngFor="let input of selectedIndicator2?.inputs; let i = index">
                                        <p class="name">{{ input.name }}</p>
                                        <input type="text" [value]="input.defaultValue" (input)="onInput($event, 2, i)">
                                    </div>
                                </div>
                            </li>

                            <li *ngFor="let setting of longSettings; let i = index">
                                <h3 class="tab_slide_btn" (click)="toggleSlide(i + 1)">{{ 'AUTO.LONG_SETTINGS' | translate }} (Long) #{{ i + 1 }}<i class="far " [ngClass]="{'fa-chevron-up': open[i + 1].isOpen, 'fa-chevron-down': !open[i + 1].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box">
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.CANDLE' | translate }}</p>
                                        <select [(ngModel)]="setting.candleType">
                                            <option *ngFor="let type of candleType" [value]="type">{{ type }}</option>
                                        </select>
                                    </div>
                
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.THAN_INDICATOR_1' | translate }}</p>
                                        <select [(ngModel)]="setting.selectedOption1">
                                            <option *ngFor="let option of selectedIndicator1?.comparisonOptions" [ngValue]="option">{{option}}</option>
                                            <!-- <option>캔들값이 작을 때 (under)</option> -->
                                        </select>
                                    </div>
                                    <div class="setting_box" *ngIf="selectedIndicator1?.showConstant">
                                        <p class="name">{{ 'AUTO.CONSTANT' | translate }}</p>
                                        <input type="text" [(ngModel)]="setting.constant1" (input)="onConstantInput($event, 1)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.THAN_INDICATOR_2' | translate }}</p>
                                        <select [(ngModel)]="setting.selectedOption2">
                                            <option *ngFor="let option of selectedIndicator2?.comparisonOptions" [ngValue]="option">{{option}}</option>
                                            <!-- <option>상수보다 작을 때 (under)</option> -->
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator2?.showConstant">
                                        <p class="name">{{ 'AUTO.CONSTANT' | translate }}</p>
                                        <input type="text" [(ngModel)]="setting.constant2" (input)="onConstantInput($event, 2)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.BOT_ACTION' | translate }}</p>
                                        <select [(ngModel)]="setting.botOperation">
                                            <option value="open">{{ 'AUTO.OPEN' | translate }}</option>
                                            <option value="close">{{ 'AUTO.CLOSE' | translate }}</option>
                                        </select>
                                    </div>
                
                                    <button (click)="addLongSetting()" [disabled]="longSettings.length >= 4"><i class="far fa-plus"></i> {{ 'AUTO.ADD_LONG_SETTING' | translate }}</button><br>
                                    <button (click)="removeLongSetting(i)" [disabled]="longSettings.length == 1"><i class="far fa-minus"></i> {{ 'AUTO.REMOVE_LONG_SETTING' | translate }}</button>
                                </div>
                            </li>
                
                            <li *ngFor="let setting of shortSettings; let i = index">
                                <h3 class="tab_slide_btn" (click)="toggleSlide(longSettings.length + i + 1)">{{ 'AUTO.SHORT_SETTINGS' | translate }} (Short) #{{ i + 1 }}<i class="far " [ngClass]="{'fa-chevron-up': open[longSettings.length + i + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + i + 1].isOpen}"></i></h3>
                                <div #slideBox class="tab_slide_box">
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.CANDLE' | translate }}</p>
                                        <select [(ngModel)]="setting.candleType">
                                            <option *ngFor="let type of candleType" [value]="type">{{ type }}</option>
                                        </select>
                                    </div>
                
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.THAN_INDICATOR_1' | translate }}</p>
                                        <select [(ngModel)]="setting.selectedOption1">
                                            <option *ngFor="let option of selectedIndicator1?.comparisonOptions" [ngValue]="option">{{option}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator1?.showConstant">
                                        <p class="name">{{ 'AUTO.CONSTANT' | translate }}</p>
                                        <input type="text" [(ngModel)]="setting.constant1" (input)="onConstantInput($event, 1)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.THAN_INDICATOR_2' | translate }}</p>
                                        <select [(ngModel)]="setting.selectedOption2">
                                            <option *ngFor="let option of selectedIndicator2?.comparisonOptions" [ngValue]="option">{{option}}</option>
                                        </select>
                                    </div>
                                    <div class="setting_box"  *ngIf="selectedIndicator2?.showConstant">
                                        <p class="name">{{ 'AUTO.CONSTANT' | translate }}</p>
                                        <input type="text" [(ngModel)]="setting.constant2" (input)="onConstantInput($event, 2)">
                                    </div>
                                    <div class="setting_box">
                                        <p class="name">{{ 'AUTO.BOT_ACTION' | translate }}</p>
                                        <select [(ngModel)]="setting.botOperation">
                                            <option value="open">{{ 'AUTO.OPEN' | translate }}</option>
                                            <option value="close">{{ 'AUTO.CLOSE' | translate }}</option>
                                        </select>
                                    </div>
                
                                    <button (click)="addShortSetting()" [disabled]="shortSettings.length >= 4"><i class="far fa-plus"></i> {{ 'AUTO.ADD_SHORT_SETTING' | translate }}</button><br>
                                    <button (click)="removeShortSetting(i)" [disabled]="shortSettings.length == 1"><i class="far fa-minus"></i> {{ 'AUTO.REMOVE_SHORT_SETTING' | translate }}</button>
                                </div>
                            </li>

                            <li>
                                <label for="position_chk" class="chk_box">
                                    <input type="checkbox" id="position_chk" [(ngModel)]="isPosition">
                                    <span></span>
                                    <p>{{ 'AUTO.REVERSE_POSITION_EXIT' | translate }}</p>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="part_box default_play_box" *ngIf="selectedTab === 'default'" (click)="onDisabledAreaClick($event)" [ngStyle]="{'display': 'block', 'pointer-events': !loginYn ? 'none' : ''}">
                    <div [ngClass]="loginYn ? 'default_play_setting' : 'auto_play_setting'">
                        <h2>{{ 'DEFAULT.DEFAULT_SETTING' | translate }} <button>{{ 'DEFAULT.RESET' | translate }}</button></h2>
                        <ul class="setting_ul">
                            <li>
                                <div class="setting_box">
                                    <p class="name">거래유형</p>
                                    <select>
                                        <option>{{ 'DEFAULT.FUTURES' | translate }}</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">{{ 'DEFAULT.SYMBOLS' | translate }}</p>
                                    <select [(ngModel)]="tradeSymbol">
                                        <option value="usdt">BTC / USDT</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">{{ 'DEFAULT.CANDLE_SETTING' | translate }}</p>
                                    <select [(ngModel)]="candleInterval">
                                        <option [value]="candleTimeType[0]">{{ 'DEFAULT.1M' | translate }}</option>
                                        <option [value]="candleTimeType[1]">{{ 'DEFAULT.3M' | translate }}</option>
                                        <option [value]="candleTimeType[2]">{{ 'DEFAULT.5M' | translate }}</option>
                                        <option [value]="candleTimeType[3]">{{ 'DEFAULT.15M' | translate }}</option>
                                        <option [value]="candleTimeType[4]">{{ 'DEFAULT.30M' | translate }}</option>
                                        <option [value]="candleTimeType[5]">{{ 'DEFAULT.1H' | translate }}</option>
                                        <option [value]="candleTimeType[6]">{{ 'DEFAULT.4H' | translate }}</option>
                                        <option [value]="candleTimeType[7]">{{ 'DEFAULT.1D' | translate }}</option>
                                    </select>
                                </div>
                                <div class="setting_box">
                                    <p class="name">수량 입력</p>
                                    <input type="text" value="0.1" (input)="onInput($event)">
                                </div>
                            </li>
                            <!-- <li>
                                <button class="default_setting_info_btn tab_slide_btn" (click)="toggleSlide(longSettings.length + shortSettings.length + 1)">API 정보<i class="far" [ngClass]="{'fa-chevron-up': open[longSettings.length + shortSettings.length + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + shortSettings.length + 1].isOpen}"></i></button>
                                <div #slideBox class="default_setting_info tab_slide_box">
                                    <p>설정된 거래소 : Bitget</p>
                                    <p>API Key : bitget_hkj23h4l231LSDF14d</p>
                                    <p>API 패스워드 : kl234523klefglh2435ij</p>
                                    <p>API passphase : 12341234</p>
                                </div>
                            </li> -->
                
                            <li>
                                <button class="default_setting_info_btn tab_slide_btn" (click)="toggleSlide(longSettings.length + shortSettings.length + 1)">{{ 'DEFAULT.TELEGRAM_INFO' | translate }}<i class="far" [ngClass]="{'fa-chevron-up': open[longSettings.length + shortSettings.length + 1].isOpen, 'fa-chevron-down': !open[longSettings.length + shortSettings.length + 1].isOpen}"></i></button>
                                <div #slideBox class="default_setting_info tab_slide_box">
                                    <p>{{ 'DEFAULT.TELEGRAM_KEY' | translate }} : {{ teleId }}</p>
                                    <p>{{ 'DEFAULT.CONNECT_STATUS' | translate }} : 
                                        <span class="no_color" *ngIf="controlYn">{{ 'DEFAULT.DISCONNECTED' | translate }}</span>
                                        <span class="yes_color" *ngIf="!controlYn">{{ 'DEFAULT.CONNECTED' | translate }}</span>
                                    </p>
                                    <p>{{ 'DEFAULT.BOT_CONTROL_STATUS' | translate }} : 
                                        <span class="no_color" *ngIf="!teleBotYn">{{ 'DEFAULT.OFF' | translate }}</span>
                                        <span class="yes_color" *ngIf="teleBotYn">{{ 'DEFAULT.ON' | translate }}</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <div class="part_box spon_part_box">
                    <div>
                        <div class="guide_btn_box">
                            <button class="default_btn" (click)="toUsePopup=true">{{ 'USE.HOW_TO_USE' | translate }}</button>
                            <button class="default_btn" (click)="linkToTelegram()"><img src="../../assets/common/images/telegram.png" width="14px">{{ 'COM.OFFICIAL_TELEGRAM' | translate }}</button>
                            <button class="default_btn" (click)="noticeIn=true;">{{ 'COM.NOTICE' | translate }}</button>
                        </div>
                     
                        <div class="banner_box mobile_show">
                            <p>{{ 'COM.CHEER_TO_OFFICIAL' | translate }}</p>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                        </div>
                        <div class="spon_box">
                            <p>{{ 'COM.DONATE_CREATOR' | translate }}</p>
                            <div class="qr_box">
                                <img src="../../assets/common/images/qr.png">
                                <p><img src="../../assets/common/images/xrp.png" width="4">Ripple (XRP) {{ 'COM.ADDRESS' | translate }}</p>
                            </div>
                            <div class="copy_box">
                                <span #textInput1 class="fake-input">knITBoT2SYbUiLDyOurowNauTotRade90d</span>
                                <!-- <input #textInput1 type="text" value="knITBoT2SYbUiLDyOurowNauTotRade90d" id="copyTxt1" disabled readonly draggable="false"> -->
                                <button (click)="copyText(textInput1)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                            <div class="copy_box">
                                <span #textInput2 class="fake-input">301555555</span>
                                <!-- <input #textInput2 type="text" value="301555555" id="copyTxt2" disabled readonly draggable="false"> -->
                                <button (click)="copyText(textInput2)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                        </div>
                
                        <div class="spon_box">
                            <p>{{ 'COM.DONATE_CREATOR' | translate }}</p>
                            <div class="qr_box">
                                <img src="../../assets/common/images/qr.png">
                                <p><img src="../../assets/common/images/TRX.png" width="14">Tron (TRX) {{ 'COM.ADDRESS' | translate }}</p>
                            </div>
                            <div class="copy_box">
                                <span #textInput3 class="fake-input">knITBoT2SYbUiLDyOurowNauTotRade90d</span>
                                <!-- <input #textInput3 type="text" value="knITBoT2SYbUiLDyOurowNauTotRade90d" id="copyTxt3" disabled readonly draggable="false"> -->
                                <button (click)="copyText(textInput3)"><img src="../../assets/common/images/copy_btn.png" width="16"></button>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="part_box ad_part_box">
                    <div>
                        <!-- <div>광고</div> -->
            
                        <div class="banner_box">
                            <p>{{ 'COM.CHEER_TO_OFFICIAL' | translate }}</p>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                            <a href="#none" class="banner_a">{{ 'COM.BANNER' | translate }}</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>

</body>
</html>

<!-- 사용 방법 -->


<!-- 공지 팝업 -->
<div #notice_popup class="popup_box" id="notice_popup" *ngIf="noticeIn">
    <div class="popup_header">
        <a href="https://telegram.org/" target="_blank" class="telegram"><img src="../../assets/common/images/telegram.png" width="28" ></a>
        <button class="right bb" (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <table>
            <tbody>
                <tr *ngFor="let notification of notifications" (click)="showNotificationDetails(notification)">
                    <td><a href="#none">{{ notification.message }}</a></td>
                    <td class="day">{{ notification.date }}</td>
                </tr>
            </tbody>
        </table>

        <div class="page_nav">
            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"><i class="far fa-chevron-left"></i></button>
            <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="changePage(i + 1)" [class.now]="currentPage === i + 1">{{ i + 1 }}</button>
            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"><i class="far fa-chevron-right"></i></button>
        </div>
    </div>
</div>

<!-- 공지 상세 팝업 -->
<div *ngIf="showDetail" class="popup_box" id="notice_view_popup">
    <div class="popup_header">
        <button class="left" (click)="closeDetailPopup()"><i class="far fa-chevron-left back"></i></button>
        <a href="https://telegram.org/" target="_blank" class="telegram"><img src="../../assets/common/images/telegram.png" width="28" ></a>
        <button class="right" (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <div class="notice_view_header">
           <p>{{ selectedNotification?.message }}</p>
           <span>{{ selectedNotification?.date }}</span>
        </div>
        <p class="notice_view_text">
            {{ selectedNotification?.details }}
        </p>
        <!-- <div class="notice_view_footer">
            <button (click)="showPreviousNotification()">이전 글</button>
            <button (click)="showNextNotification()">다음 글</button>
        </div> -->
    </div>
</div>

<!-- API 설정 팝업 -->
<div *ngIf="showApiSet" class="popup_box" id="api_setting_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'API.API_SETTING' | translate }}</h2>
        <button class="right " (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <ul class="popup_setting_ul">
            <li>
                <h3>{{ 'API.SELECT_TRADE' | translate }}</h3>
                <select [(ngModel)]="ApiProvider">
                    <option value="Bitget">Bitget</option>
                </select>
            </li>
            <li>
                <h3>{{ 'API.API_KEY' | translate }} (Key)</h3>
                <input type="text" required [(ngModel)]="ApiKey" #inputApiKey="ngModel" placeholder="{{ 'API.API_KEY_TXT' | translate }}">
            </li>
            <li>
                <h3>{{ 'API.API_SECRET_KEY' | translate }} (Password)</h3>
                <input type="text" required [(ngModel)]="ApiPassword" #inputApiPassword="ngModel" placeholder="{{ 'API.API_SECRET_KEY_TXT' | translate }}">
            </li>
            <li>
                <h3>{{ 'API.API_PASSPHASE' | translate }} (Passphase)</h3>
                <input type="text" required [(ngModel)]="ApiPassphase" #inputApiPassphase="ngModel" placeholder="{{ 'API.API_PASSPHASE_TXT' | translate }}">
            </li>
        </ul>
        <p>{{ 'API.API_SETTING_NOTICE' | translate }}</p>
        <button class="save_setting" (click)="saveAPI()" 
        [class.disabled]="inputApiKey.invalid || inputApiPassword.invalid || inputApiPassphase.invalid"
        [disabled]="inputApiKey.invalid || inputApiPassword.invalid || inputApiPassphase.invalid">{{ 'USE.SAVE' | translate }}</button>
    </div>
</div>

<!-- 사용 방법 팝업 -->
<div *ngIf="toUsePopup" class="popup_box" id="guide_popup">
    <div class="popup_header">
        <h2 class="left ">{{ 'USE.HOW_TO_USE' | translate }}</h2>
        <button class="right " (click)="closePopup()"><i class="far fa-times close"></i></button>
    </div>
    <div class="popup_content">
        <div class="guide_p">
            <h2>0. {{ 'USE.DISCLAIMER' | translate }}</h2>
            <p [innerHTML]="'USE.DISCLAIMER_TXT' | translate">
                <!-- KnitBot 은 모든 기능을 무료로 제공하고 있습니다.<br>
                자동매매를 설정하여 매매하는 것은 오로지 사용자 본인의 책임입니다.<br>
                서버 통신 또는 시스템 오류 등 기술적인 문제가 발생할 수 있으며, KnitBot은 이에 대해 책임지지 않습니다.<br>
                또한 해당 사용 방법이 실제와 다를 경우에도 책임지지 않습니다.<br>
                본 사이트의 모든 기능과 관련하여 KnitBot은 일체의 책임을 지지 않으므로, 이 점을 반드시 숙지하시고 본인의 의사에 따라 사이트 이용 여부를 선택해주시기 바랍니다. -->
            </p>
            <h2>1. {{ 'USE.TELEGRAM_SETTING' | translate }}</h2>
            <img src="../../assets/common/images/guide1.png">
            <ul>
                <li>{{ 'USE.TELEGRAM_SETTING_TXT1' | translate }}</li>
                <li>{{ 'USE.TELEGRAM_SETTING_TXT2' | translate }}</li>
                <li>{{ 'USE.TELEGRAM_SETTING_TXT3' | translate }}</li>
            </ul>

            <h2>2-1. {{ 'USE.AUTO_SALE_SETTING' | translate }}</h2>
            <img src="../../assets/common/images/guide2.png">
            <p [innerHTML]="'USE.AUTO_SALE_SETTING_TXT' | translate">
                <!-- 자동매매에 활용할 지표를 선택합니다.<br><br>
지표 1은 반드시 선택해야 하며, 선택한 지표에 필요한 파라미터를 직접 조절할 수 있습니다.<br><br>
지표 2는 선택 사항입니다. 지표 1과 지표 2를 모두 사용할 경우, 설정한 액션은 지표 1과 지표 2가 모두 충족되어야만 작동합니다.
(‘AND’ 조건으로 묶입니다.) -->
            </p>
            <h2>2-2. {{ 'USE.BOT_ACTION_SETTING' | translate }}</h2>
            <img src="../../assets/common/images/guide3.png">
            <img src="../../assets/common/images/guide4.png">
            <p [innerHTML]="'USE.BOT_ACTION_SETTING_TXT' | translate">
                <!-- 봇 액션을 설정할 수 있습니다.<br><br>
‘캔들’ 은 선택한 심볼의 현재 가격을 의미합니다.<br>
종가, 시가, 고가, 저가를 선택할 수 있으며, 기본 설정에서 세팅된 캔들 시간대를 기준으로 합니다. 기본적으로 종가를 추천드립니다.<br><br>
위에서 설정한 지표 1에 대하여 가격의 상황, 상수에 대한 지표의 상황에 따른 봇의 액션을 설정할 수 있습니다.<br><br>

봇의 행동의 경우, 위에 설정한 상황이 발생하였을 때, 봇이 진입을 할 것인지, 종료를 할 것 인지를 설정할 수 있습니다.<br><br>

롱(숏) 설정 추가를 통해, 봇이 진입을 하는 경우와 종료를 하는 경우를 각각 설정할 수 있습니다. 진입과 종료 둘 중 하나라도 설정되지 않으면 자동매매가 불가합니다.<br><br>

<span>즉, 각각 최소 2가지 이상의 설정을 하여야 하며, 조건간 충돌이 발생해서는 안 됩니다 !</span><br><br>

만약 롱 설정과 숏 설정의 조건이 충돌한다면 봇은 작동하지 않습니다 !<br><br>

예를 들어, EMA(지표 1) 선 아래로 내려갔을 때 롱을 진입하고 싶다면, 지표 1 에 대하여 ‘캔들값이 작을 때’  봇의 행동을 ‘진입’ 으로 설정합니다.<br>
반대로, EMA(지표 1) 선 위로 올라갔을 때 숏을 진입하고 싶다면, 지표 1에 대하여 ‘캔들값이 클 때’ 봇의 행동을 ‘진입’으로 설정합니다.<br> -->
            </p>
            <h2>2-3. {{ 'USE.REVERSE' | translate }}</h2>
            <img src="../../assets/common/images/guide5.png">
            <p [innerHTML]="'USE.REVERSE_TXT' | translate">
                <!-- 봇이 반대 포지션을 진입하게 되면, 이전 포지션을 자동으로 종료하는 기능입니다.<br>
만약 이전에 봇이 롱을 진입한 경우, 아직 롱 종료 조건이 완성되지 않은 상태에서 숏의 진입 조건이 완성된다면 기존의 롱 포지션을 종료하고 숏 포지션만 진입합니다. -->
            </p>
            <h2>3. {{ 'USE.DEFAULT_SETTING' | translate }}</h2>
            <img src="../../assets/common/images/guide6.png">
            <p [innerHTML]="'USE.DEFAULT_SETTING_TXT' | translate">
                <!-- 거래 유형을 선택할 수 있습니다. <br>
현재 거래유형은 선물 거래(Futures) 만 지원합니다.<br><br>

거래 심볼 선택에서 봇이 거래할 심볼을 선택할 수 있습니다.<br><br>

캔들 설정에서는 자동매매 지표나 봇 액션 조건을 판단할 때 기준이 되는 시간대를 설정합니다. <span>설정되는 캔들 시간대에 따라 특정 지표들이나 조건들이 변화하므로 주의해서 설정해야 합니다.</span><br><br>

수량은 선택한 거래 심볼을 자동 매매할 때 들어갈 수량을 의미 합니다.<br><br>
<span>이 때 수량은 선택된 코인의 수량이며 USDT가 아니므로, 수량은 반드시 코인의 수량을 기준으로 설정하여야 합니다 !</span> -->
            </p>
            <h2>4. {{ 'USE.SAVE' | translate }}</h2>
            <img src="../../assets/common/images/guide7.png">
            <p [innerHTML]="'USE.SAVE_TXT' | translate">
                <!-- 모든 세팅을 완료하였다면 봇을 실행하기 전 저장해야 합니다.<br>
저장을 하지 않는다면 봇이 실행되지 않거나 세팅이 반영되지 않는 등 오류가 발생할 수 있으니 반드시 저장하여야 합니다. -->
            </p>
            <h2>5. {{ 'USE.BOT_ACTING' | translate }}</h2>
            <img src="../../assets/common/images/guide8.png">
            <p>{{ 'USE.BOT_ACTING_TXT' | translate }}</p>
            <h2>6-1. {{ 'USE.SET_API' | translate }}</h2>
            <img src="../../assets/common/images/guide9.png">
            <ul>
                <li>{{ 'USE.SET_API_TXT1' | translate }}</li>
                <li>{{ 'USE.SET_API_TXT2' | translate }}</li>
                <li>{{ 'USE.SET_API_TXT3' | translate }}</li>
                <li>{{ 'USE.SET_API_TXT4' | translate }}</li>
            </ul>
            <h2>6-2. {{ 'USE.BITGET_USE' | translate }}</h2>
            <img src="../../assets/common/images/guide10.png">
            <p [innerHTML]="'USE.BITGET_USE_TXT1' | translate"></p>
            <img src="../../assets/common/images/guide11.png">
            <p [innerHTML]="'USE.BITGET_USE_TXT2' | translate"></p>
            <img src="../../assets/common/images/guide12.png">
            <ul>
                <li>{{ 'USE.BITGET_USE_TXT3' | translate }}</li>
                <li>{{ 'USE.BITGET_USE_TXT4' | translate }}</li>
                <li>{{ 'USE.BITGET_USE_TXT5' | translate }}</li>
                <li>{{ 'USE.BITGET_USE_TXT6' | translate }}</li>
            </ul>
            <h2>7. {{ 'USE.BESIDE' | translate }}</h2>
            <p>{{ 'USE.BESIDE_TXT' | translate }}</p>
        </div>
    </div>
</div>